.titleContainer {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 70px;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right {
    width: 50%;
}

.ourConditions {
    width: 40%;
    margin-top: 100px;
    margin-bottom: 75px;
}

.ourAdvantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
    row-gap: 50px;
}