.content {
    display: flex;
    flex-direction: column;
    gap: 110px;
}

.contentItem {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.right {
    width: 50%;
}
